/* Globals
*************************************************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font: 17px/1.4 'Segoe UI', 'Segoe', Verdana, Arial, sans-serif;
}

body {
  background: #eee;
  overflow: hidden;
  margin: 0px;
  color: #1C1C1C;
}

//Nav
.nav {
  background: #004185;
  position: relative;
  width: 100%;

  ul {
    margin: 0 auto;
    max-width: 1300px;

    li {
      padding: 25px 25px 25px 0px;
      display: inline-block;

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

      }

    }

  }

}

//Main content body
.body {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0px 0px 15px 0px;
  position: relative;
  background: #eee;
  width: 100%;

  h1 {
    font-size: 2em;
    margin: 15px 0px 0px 0px;
  }

  h2 {
    font-size: 1.5em;
    margin: 15px 0px;
  }

  h4 {
    font-size: 1.1em;
    font-weight: 600;
    margin: 10px 0px 5px 0px;
  }

  p {
    margin: 15px 0px;
  }

  ul {
    list-style-type: disc;
    padding-left: 25px;
  }

  iframe {
    margin: 30px 0px;
  }

  .view-demo {
    color: #fff;
    padding: 8px 25px;
    background: #004185;
    border: none;
    margin: 15px 0px 0px 0px;
  }

}

//Canvas

section {
  position: absolute;
  top: 0px;

  .close-demo {
    font-size: 40px;
    cursor: pointer;
    padding: 25px 25px;
    z-index: 999999;
  }

}
